body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header {
    background: #1F2937;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.Logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: grey;
}

.title{
    display: flex;
    background: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 75px 150px;
    color: #F9FAF8;
}

.title_text{
    max-width: 450px;
}

.heading {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.Subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.footer {
    margin-top: 40px;
    margin-bottom: -20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.quote {
    background: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.Sign_up {

 }

button {
    background: #3882F6;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border: none;
}

.img {
    max-width: 350px;
    height: 400px;
    object-fit: cover;
    border: 5px solid turquoise;
    border-radius: 20px;;
    transition: 0.25s;
    padding: 30px;
    margin: 20px;
}
.img:hover {
    transform: scale(1.1);
}